.line-row {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.line-row li {
  float: left;
  width: 6em;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  margin: 0.4em;
  border-radius: 7px;
  display: inline;
  border-right: 1px solid white;
  font-family: "Courier New", Courier, monospace;
}

ul li.success {
  background: #09b1c7;
}

.para {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 200px;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  font-weight: bold;
}
p {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  font-weight: lighter;
}
.emoji {
  font-size: 1em;
  background: #09b1c7;
}
